/* .most-popular-live {} */

.card-stream-wrapper {
    width: calc(100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin: 0 auto;
    gap: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .card-stream-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        text-align: center;
        margin: 0;
    }
}