.item-streams {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #6e6c6c33;
}

@media (max-width: 768px) {
    .item-streams {
        font-size: 10px;
        gap: 6px;
        margin: 10px 0;
        width: 100%;
    }
}

.item-streams div {
    padding: 0;
    margin: 0;
}

.item-streams i {
    font-size: 19px;
    color: var(--main-color);
}

.item-streams div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.item-streams img {
    width: 50px;
    border-radius: 50%;
}